# --- Configuración InfluxDB ---
INFLUX_ORG=tu_organizacion
INFLUX_BUCKET=tu_bucket_nodered
INFLUX_BUCKET_PANDAS=tu_bucket_pandas
INFLUX_URL=http://influxdb:8086
INFLUX_USER=tu_usuario
INFLUX_PASSWORD=tu_password_segura
INFLUX_TOKEN=tu_token_seguro
 
# --- Configuración Grafana ---
GRAFANA_USER=tu_usuario_grafana
GRAFANA_PASSWORD=tu_password_grafana
