# --- Configuración SQL Server ---
ACCEPT_EULA=Y
SA_PASSWORD=TuPasswordSegura
MSSQL_PID=Express
 
# --- Configuración de la app ---
DB_SERVER=sqlserver
DB_NAME=criptosdb
DB_USER=sa
DB_PASSWORD=TuPasswordSegura
